WF_18__Restaurant_Info_Agent.json
{
  "name": "WF-18: Restaurant Info Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {}
      },
      "id": "fc07c8e7-0fb6-4468-a6da-b3ef1de90408",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1460,
        540
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company",
        "description": "Risponde alle domande relative a ciò che ti viene chiesto"
      },
      "id": "bc98e763-7f04-48a9-9092-64318cb13b4c",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        1780,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "=for_n8n",
          "mode": "id"
        },
        "options": {}
      },
      "id": "02878161-a23c-4ee3-b9d5-4199cb4236e7",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        1600,
        980
      ],
      "typeVersion": 1,
      "credentials": {
        "qdrantApi": {
          "id": "tpsAg1zItORlbqs1",
          "name": "QdrantApi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d2cabc82-7af0-4384-9ae8-f2b86a85b66c",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1680,
        1160
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "ieWS9WWeYylZWArQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b8b06266-737b-45ec-8840-cd5ee2fc418a",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -400,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://25ecf160-cd8f-456c-95c4-6d7ecc1bbf8c.eu-west-2-0.aws.cloud.qdrant.io:6333/collections/info_rest_info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {}\n}",
        "options": {}
      },
      "id": "017e4bdb-55d3-4235-9662-755d37f16d7b",
      "name": "Create collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        560
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "MviHAjFeVrxSUKTv",
          "name": "QDRANT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://25ecf160-cd8f-456c-95c4-6d7ecc1bbf8c.eu-west-2-0.aws.cloud.qdrant.io:6333/collections/info_rest/points/delete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {}\n}",
        "options": {}
      },
      "id": "e83c80be-0103-43f8-9111-626725a59829",
      "name": "Refresh collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -140,
        820
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "MviHAjFeVrxSUKTv",
          "name": "QDRANT"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive",
            "cachedResultName": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/1yhtQVZX_59gLQ4u2FEiV1XqexUpIM7Dn",
            "mode": "url"
          }
        },
        "options": {}
      },
      "id": "c803b8c0-b1e4-4cb1-be76-2676da828046",
      "name": "Get folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        80,
        680
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "B9PHGBZ5pDkKfNQF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            }
          }
        }
      },
      "id": "ff42da39-fb0f-440a-b049-3d399f8817b3",
      "name": "Download Files",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        300,
        860
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "B9PHGBZ5pDkKfNQF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "d019c35b-551f-4322-a82e-506dd2e80df6",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        720,
        920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 30
      },
      "id": "f555b09d-fa0e-40ca-8a91-309f01bf0e89",
      "name": "Token Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "position": [
        600,
        1080
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=for_n8n",
          "mode": "id"
        },
        "options": {}
      },
      "id": "02ae2d90-c332-43cb-bb9c-a22754dababd",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        540,
        680
      ],
      "typeVersion": 1,
      "credentials": {
        "qdrantApi": {
          "id": "tpsAg1zItORlbqs1",
          "name": "QdrantApi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "80e20218-ce1c-41eb-8552-ce65200c96a7",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        520,
        880
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "ieWS9WWeYylZWArQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "87dff14a-c2d9-4518-8a65-f7b1b8c369db",
      "name": "Respond to ElevenLabs",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2040,
        600
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "32bf956e-d046-4c53-bf2a-6213be12144c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1340,
        780
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ieWS9WWeYylZWArQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "restroagent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bd0a64d7-ae79-4d6a-b4c1-155730c9d70d",
      "name": "Listen",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1080,
        540
      ],
      "webhookId": "e9f611eb-a8dd-4520-8d24-9f36deaca528",
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b86fd94a-6a8a-4aea-ab6e-6cadbe63386d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1860,
        1060
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ieWS9WWeYylZWArQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen').item.json.body.question }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1520,
        760
      ],
      "id": "60e06cba-670b-4844-b0f2-03965b186ca3",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "content": "## WF-18: Restaurant Info Agent",
        "height": 80,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        360
      ],
      "typeVersion": 1,
      "id": "d0840ebe-0766-4ae3-804a-599bb02a5c5f",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Listen": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get folder": {
      "main": [
        [
          {
            "node": "Download Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Files": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Refresh collection": {
      "main": [
        [
          {
            "node": "Get folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Create collection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00968ad6-fb1a-4727-b0ca-f7bba9ada9e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32abcfe23a703a294bd580240a37e884f6782ba42aeff437bff7e0a3461ea3a4"
  },
  "id": "0nlswJMTgnPmuZJu",
  "tags": []
}